
    <div class="box">

        <div class="logo_container">
          <h1> BIENVENUE CHEZ</h1>
          <h1>ME<span>ZZ</span>O HR</h1>
          <h2> GÉREZ VOTRE PERSONNEL AVEC SUCCÈS</h2>
      </div>
      <div style="display: flex;
      flex-direction: column;">
<div><img src="../../assets/img/female-executive-manager-and-team.jpg" alt="" class="img"></div>

<div style="background-color: #eee5e5;border-radius: 4px;"><p class="desc">Depuis 2005, Mezzo oriente l’ensemble de ses énergies
  à l’amélioration continue de ses engagements de qualité et d’innovation participative.</p></div>
</div>


</div>


<div *ngIf="isUserAuthenticated()"
><nav class="navbar navbar-rouge">
  <a class="navbar-brand"></a>
    <marquee behavior="alternate">
      <div class="logo_container">
        <b><h1>Les Cha<span>ll</span>enges</h1></b>
    </div>
        </marquee>
</nav>
  <div class="box" *ngFor="let challenge of challenges" >
    <div class="logo_container" >
      <h1> {{challenge.title}}</h1>
      <h2>Prime à ganer :{{challenge.prime}}</h2>
      <div class="text-center"><button class="btn_participer"(click)="participer(challenge)">participer</button></div>

  </div>
  <div style="display: flex;
  flex-direction: column;">
<div><img src="{{challenge.image}}" alt="" class="img"></div>

<div style="background-color: #eee5e5;border-radius: 4px;"><p class="desc">{{challenge.description}}</p></div>
</div>
</div>


