
<!--Main layout-->

    <!-- Section: Main chart -->
    <!-- Section: Main chart -->



    <!--Section: Minimal statistics cards-->
    <section>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div class="align-self-center">
                  <i class="fas fa-pencil-alt text-info fa-3x"></i>
                </div>
                  <div class="input_container">
                    <h1>List Users</h1>
                  <select [(ngModel)]="userSelected" name="sourceBankAccount" (change)="userChanged($event.target)">
                    <option  *ngFor="let user of userData"  [value]="user.id">{{user.email}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div class="align-self-center">
                  <i class="far fa-comment-alt text-warning fa-3x"></i>
                </div>
                <div class="text-end">
                  <h3>List Years</h3>
                  <select [(ngModel)]="YearSelected" name="sourceBankAccount" (change)="YearChanged($event.target)">
                    <option  *ngFor="let year of ListYear"  [value]="year">{{year}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-danger">{{Performance.nbrDayC}} Jours</h3>
                  <p class="mb-0">Nombre de Jour Congé</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-success">{{Performance.nbrHHC}} Heures</h3>
                  <p class="mb-0">Nombre des Heures Congé</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-info">{{Performance.tauxAbsences}}</h3>
                  <p class="mb-0">Taux D'abbanse</p>
                </div>
                <div class="align-self-center">
                  <i class="fas fa-book-open text-info fa-3x"></i>
                </div>
              </div>
              <div class="px-md-1">
                <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                  <div
                       class="progress-bar bg-info"
                       role="progressbar"
                       [style.width]="Performance.tauxAbsences + '%'"
                       aria-valuenow="80"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!--Section: Minimal statistics cards-->
<!--Main layout-->
